@import url(reset.css);

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
  font-family: 'Caveat', cursive;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  background: rgba(233, 232, 232, 0.514);
  z-index: -1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn__img {
  margin: 0;
  padding: 0;
}

.header {
  max-width: 1920px;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.header__inner {
  margin: 0 auto;
  margin-left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo {
  animation-name: anim-1;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes anim-1 {
  0% {
    transform: translateX(-3000px) rotate(150deg);
  }
  70% {
    transform: translateX(30px);
  }
  80% {
    transform: translateX(-15px);
  }
  90% {
    transform: translateX(10px);
  }
  95% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.logo__img {
  width: 100%;
  padding: 0;
  margin: 0;
}

.logo__img-puck {
  position: absolute;
  top: 81%;
  left: 40%;
  animation-name: puck;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes puck {
  0% {
    transform: translateY(-3000px);
  }
  70% {
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-15px) rotate(-30deg);
  }
  90% {
    transform: translateY(10px) rotate(30deg);
  }
  95% {
    transform: translateY(-5px) rotate(35deg);
  }
  100% {
    transform: translateY(0) rotate(40deg);
  }
}

.logo__img-puck svg {
  display: block;
  height: 30px;
  width: 30px;
}

.header__items {
  display: flex;
  flex-direction: column;
}

.header__title {
  font-size: 80px;
  font-weight: 600;
  color: #e20505;
}

.header__text {
  font-size: 30px;
  color: #a11b1b;
  margin-left: -20px;
  animation-name: anim-2;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes anim-2 {
  0% {
    transform: translateX(3000px);
  }
   70% {
    transform: translateX(-30px);
  }
  80% {
    transform: translateX(15px);
  }
  90% {
    transform: translateX(-10px);
  }
  95% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.header__line {
  max-width: 600px;
  height: 2px;
  border: 1px solid #9c02024f;
  margin: 10px auto 20px;
}

.main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.section__contents {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  /* margin-top: -20px; */
}

/* .section__contents.video-1 {
  padding: 0;
  height: 100vh;
} */

.section__contents.video-2 {
  padding: 0;
}
.section__contents.video-3 {
  height: 100vh;
  padding: 0;
  margin-top: -100px;
}

.top__inner {
  margin: 10px 0 27px;
}

.video-1__inner {
  margin-top: 8%;
  margin-bottom: 8px;
  padding: 0;
}

.video-2__inner {
  margin-top: 18%;
  margin-bottom: 0;
  padding: 0;
}

.video-3__inner {
  margin-top: 13%;
  margin-bottom: 5px;
  padding: 0;
}

.btn__down {
  text-align: center;
  position: fixed;
  /* margin-top: auto; */
  /* bottom: 0px; */
  margin: 20px 0 20px;
  z-index: 10;
}
.btn__down--pal {
  margin-top: -53px;
}

.top {
  display: flex;
  flex-direction: column;
  margin-top: -1px;
}

.top__img {
  width: 70%;
  padding: 0;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: -30px;
}
.video {
  margin-top: 20px;
  padding: 30px;
}

.video__title {
  font-size: 33px;
  font-weight: 600;
  margin: 150px auto 25px;
  text-align: center;
  color: #4c56e0dc;
}

.video__title-3 {
  font-size: 33px;
  font-weight: 600;
  margin: 10px auto 25px;
  text-align: center;
  color: #4c56e0dc;
}

iframe {
  display: flex;
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
  min-height: 200px;
}

.video-2 {
  margin: 0 auto;
  margin-bottom: 400px;
}

.video__content-2 {
  display: none;
}

.video__title-2 {
  font-size: 33px;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
  color: rgba(22, 36, 233, 0.863);
}

.video__content {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  height: 590px;
  margin: 30px auto 0;
  margin-bottom: 30px;
}

.video__content video {
  width: 270px;
}

.slider__photo {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.slide__photo img {
  margin: 0 auto;
  max-width: 800px;
  max-height: 540px;
  width: 100%;
}

.slide__photo + .slide__photo {
  margin-left: 10px;
}

.slide__photo-5 img,
.slide__photo-7 img,
.slide__photo-8 img,
.slide__photo-9 img {
  max-width: 800px;
  /* width: auto; */
}

.slide__photo-3 img,
.slide__photo-6 img,
.slide__photo-12 img {
  height: 540px;
}

.slick-next, .slick-prev,
.slick-next:focus, .slick-next:hover, .slick-prev:focus, .slick-prev:hover {
  color: rgba(233, 224, 224, 0.514);
  background-color: rgb(88, 85, 85);
  border: 1px solid rgba(233, 224, 224, 0.514);
  border-radius: 50%;
  width: 25px;
  height: 21px;
}

.btn__down--photo {
  margin-top: 25px;
}

/* картинка на странице */
.minimized {
  width: 300px;
  cursor: pointer;
  border: 1px solid #FFF;
}

.minimized:hover {
  border: 1px solid yellow;
}

/* увеличенная картинка */
#magnify {
  display: none;

  /* position: absolute; upd: 24.10.2016 */
  position: fixed;
  max-width: 1200px;
  height: auto;
  z-index: 9999;
}

#magnify img {
  width: 100%;
}

/* затемняющий фон */
#overlay {
  display: none;

  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: 9990;
}

/* кнопка закрытия */
#close-popup {
  width: 30px;
  height: 30px;

  background: #FFFFFF;
  border: 1px solid #AFAFAF;
  border-radius: 15px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}

#close-popup i {
  width: 30px;
  height: 30px;
  background: url(https://codernote.ru/files/cross.png) no-repeat center center;
  background-size: 16px 16px;
  display: block;
}

@keyframes rota {
 25% { transform: rotate(360deg); }
}

#close-popup:hover {
  animation: rota 4s infinite normal;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.slick-list {
  max-width: 1000px;
  margin: 0 auto;
}

#prev {
  left: 5%;
}
#next {
  transform: scale(-1, 1);
  right: 5%;
}
.slick-arrow {
  position: absolute;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media(max-width: 1270px) {
  .slick-next {
    margin: 20px;
  }
  .slick-prev {
    margin: 20px;
  }
}

@media(max-width: 1230px) {
  .top__img {
    width: 75%;
  }
}

@media(max-width: 1100px) {
  .top__img {
    width: 85%;
  }
}

@media(max-width: 1000px) {
  .top__img {
    width: 90%;
  }
  .logo__img-puck {
    top: 81%;
    left: 38%;
  }
}

@media(max-width: 900px) {
  .top__img {
    width: 100%;
    margin-top: 120px;
  }
  .logo__img-puck {
    top: 81%;
    left: 36%;
  }
}

@media(max-width: 800px) {
  .header {
    position: absolute;
  }
  .header__title {
    font-size: 60px;
  }
  .header__text {
    font-size: 25px;
  }
  .header__line {
    max-width: 500px;
  }
  .logo__img {
    width: 120%;
  }
  .btn__down {
    display: none;
  }
  .top__img {
    padding: 80px 0 0;
    margin: 0;
  }
  .top__img img {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .video-1__inner {
    margin-top: -30%;
  }
  .video-2__inner {
    margin-top: -30%;
  }
  .video-3__inner {
    margin-top: -100%;
  }
  
  .video {
    margin-top: -30%;
  }
  .video__title-2 {
    margin: -50% 0 20px;
  }
  .video__title-3 {
    margin-top: 0;
  }
  .video__content {
    margin: 0;
    padding: 0;
    margin-bottom: -50%;
  }
  .photo {
    margin-top: -60%;
    margin-bottom: 5%;
  }
  .logo__img-puck {
    top: 81%;
    left: 42%;
  }
}

@media(max-width: 700px) {
  .top__img {
    padding: 40px 0 0;
    margin-bottom: auto;
  }
  .top__img img {
    width: 100%;
    padding: 40px 0 0;
    margin: 0;
  }
  .logo__img-puck {
    top: 81%;
    left: 40%;
  }
}

@media(max-width: 600px) {
  .video {
    margin: 0;
    margin-top: -60%;
  }
  .photo {
    margin-top: -10%;
    margin-bottom: 10%;
  }
  .logo__img-puck {
    top: 81%;
    left: 38%;
  }
}

@media(max-width: 580px) {
  .logo__img-puck {
    top: 76%;
    left: 38%;
  }
}

@media(max-width: 500px) {
  .header__title {
    font-size: 50px;
  }
  .header__text {
    font-size: 25px;
  }
  .logo__img {
    width: 140%;
  }
  .top {
    margin-top: -15%;
    margin-bottom: -20%;
  }
  .photo {
    margin-top: -30%;
    margin-bottom: -30%;
  }
  .slide__photo-5 img,
  .slide__photo-6 img,
  .slide__photo-8 img,
  .slide__photo-9 img,
  .slide__photo-12 img {
    max-height: 300px;
  }
  .photo {
    margin-top: -70%;
    margin-bottom: -10%;
  }
  .logo__img-puck {
    top: 75%;
    left: 42%;
  }
}

@media(max-width: 430px) {
  .logo__img {
    margin-bottom: 20px;
  }
  .header__title {
    font-size: 40px;
  }
  .header__text {
    font-size: 20px;
  }
  .logo__img {
    width: 160%;
  }
  .top {
    margin-top: -30%;
    margin-bottom: -40%;
  }
  .photo {
    margin-top: -70%;
    margin-bottom: -30%;
  }
  .slide__photo-5 img,
  .slide__photo-6 img,
  .slide__photo-8 img,
  .slide__photo-12 img {
    max-height: 250px;
  }
  .slide__photo img {
    margin-left: 5px;
  }
  .logo__img-puck {
    top: 69%;
    left: 48%;
  }
}

@media(max-width: 375px) {
  .header {
    padding-top: 30px;
  }
  .top {
    margin-top: -10%;
    margin-bottom: -40%;
  }
  .video {
    margin-top: -40%;
  }
  .video-2 {
    margin: 0 auto;
    margin-top: 30%;
    margin-bottom: -15%;
  }
  .photo {
    margin-top: -40%;
    margin-bottom: 20px;
  }
}


@media(max-width: 340px) {
  .logo__img-puck {
    top: 60%;
    left: 40%;
  }
}
