@import url(reset.css);
@font-face {
  font-family: 'Pasadena Deco';
  src: url('../fonts/pasadena-deco.ttf');
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
  /* font-family: 'Caveat', cursive; */
  font-family: 'Pasadena Deco';
  font-style: italic;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  /* background: rgba(233, 232, 232); */
  z-index: -1;
  background-image: url('../images/snowflakes_background.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn__img {
  margin: 0;
  padding: 0;
}

.header {
  max-width: 1920px;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  background-image: url('../images/snowflakes_background.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.header__inner {
  margin: 0 auto;
  margin-left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo {
  animation-name: anim-1;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes anim-1 {
  0% {
    transform: translateX(-3000px) rotate(150deg);
  }
  70% {
    transform: translateX(30px);
  }
  80% {
    transform: translateX(-15px);
  }
  90% {
    transform: translateX(10px);
  }
  95% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.logo__img {
  width: 100%;
  padding: 0;
  margin: 0;
}

.logo__img-puck {
  position: absolute;
  top: 81%;
  left: 40%;
  animation-name: puck;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes puck {
  0% {
    transform: translateY(-3000px);
  }
  70% {
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-15px) rotate(-30deg);
  }
  90% {
    transform: translateY(10px) rotate(30deg);
  }
  95% {
    transform: translateY(-5px) rotate(35deg);
  }
  100% {
    transform: translateY(0) rotate(40deg);
  }
}

.logo__img-puck svg {
  display: block;
  height: 30px;
  width: 30px;
}

.header__items {
  display: flex;
  flex-direction: column;
}

.header__title {
  font-size: 55px;
  font-weight: 400;
  color: #e20505;
}

.header__text {
  font-size: 22px;
  color: #a11b1b;
  margin-left: -20px;
  animation-name: anim-2;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes anim-2 {
  0% {
    transform: translateX(3000px);
  }
   70% {
    transform: translateX(-30px);
  }
  80% {
    transform: translateX(15px);
  }
  90% {
    transform: translateX(-10px);
  }
  95% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.header__line {
  max-width: 600px;
  height: 2px;
  border: 1px solid #9c02024f;
  margin: 10px auto 10px;
}

.main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.top {
  padding: 50px 0 30px;
}

.top__inner {
  margin: 10px 0 20px;
  padding: 30px 0 22px;
}

.line {
  width: 700px;
  height: 2px;
  border: 1px solid #9c02024f;
  margin: 0px auto 10px;
}

.video-1__inner {
  margin-top: 15%;
  margin-bottom: 32px;
  padding: 0;
}

.video-2__inner {
  margin: 60px auto 20px;
  padding: 0;
}

.video-3__inner {
  padding: 10px 0 50px;
}

.btn__down {
  text-align: center;
  position: absolute;
  /* margin-top: auto; */
  /* bottom: 0px; */
  margin: 20px 0 20px;
  z-index: 10;
}
.btn__down--pal {
  position: absolute;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  bottom: 42px;
}

.top__img {
  width: 70%;
  padding: 0;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: -30px;
}
.video {
  margin-top: 20px;
  padding: 30px;
}

.video__title {
  font-size: 30px;
  font-weight: 400;
  margin: 150px auto 25px;
  text-align: center;
  color: #0f1abbdc;
}

.video__title-3 {
  font-size: 30px;
  font-weight: 400;
  margin: 70px auto 25px;
  text-align: center;
  color: #0f1abbdc;
}

iframe {
  display: flex;
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
  min-height: 200px;
}

.video-2 {
  margin: 0 auto -70px;
}

.video__content-2 {
  display: none;
}

.video__title-2 {
  font-size: 30px;
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
  color: #0f1abbdc;
}

.video__content {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  height: 590px;
  margin: 30px auto 0;
  margin-bottom: 30px;
}

.video__content video {
  width: 270px;
}
.photo {
  margin-bottom: 70px;
}

.slider__photo {
  margin: 0 auto;
  display: flex;
  align-items: center;
  max-width: 800px;
  width: 100%;
/*   margin-bottom: 50px; */
}

.slide__photo img {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.slide__photo + .slide__photo {
  margin-left: 100px;
}

.btn__down--photo {
  margin: -7% 0 0;
}

.btn img {
  margin-top: -100%;
}

/* картинка на странице */
.minimized {
  cursor: pointer;
  border: 1px solid #FFF;
}

.minimized:hover {
  border: 1px solid yellow;
}

/* увеличенная картинка */
#magnify {
  display: none;

  /* position: absolute; upd: 24.10.2016 */
  position: fixed;
  max-width: 1200px;
  height: auto;
  z-index: 9999;
}

#magnify img {
  width: 100%;
}

/* затемняющий фон */
#overlay {
  display: none;

  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: 9990;
}

/* кнопка закрытия */
#close-popup {
  width: 30px;
  height: 30px;

  background: #FFFFFF;
  border: 1px solid #AFAFAF;
  border-radius: 15px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}

#close-popup i {
  width: 30px;
  height: 30px;
  background: url(https://codernote.ru/files/cross.png) no-repeat center center;
  background-size: 16px 16px;
  display: block;
}

@keyframes rota {
 25% { transform: rotate(360deg); }
}

#close-popup:hover {
  animation: rota 4s infinite normal;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.slick-list {
  max-width: 1000px;
  margin: 0 auto;
}

.slider__arrow {
  position: absolute;
  cursor: pointer;
}

.slider__arrow-prev {
  left: -70px;
}

.slider__arrow-next {
  transform: scale(-1, 1);
  right: -70px;
}

.line--photo {
  margin-bottom: 50px;
}

#embedim--snow {
  z-index: -1 !important;
}

@media (max-height: 900px) {
  .header {
    position: absolute;
  }
}

@media (max-width: 1100px) {
  .photo {
    margin-bottom: 30px;
  }
  #prev, #next {
    display: none;
  }
  .btn__down--photo {
    display: none;
  }
}
@media (max-width: 1000px) {
  body {
    font-family: 'Caveat', cursive;
    font-style: normal;
    text-transform: none;
  }
  .header__title {
    font-size: 80px;
  }
  .video__title,
  .video__title-2,
  .video__title-3 {
    font-size: 33px;
  }
  .header__text {
    font-size: 33px;
  }
  .logo__img-puck {
    padding: 0;
    margin-left: -2%;
  }
  .top__img {
    width: 80%;
  }
}
@media (max-width: 800px) {
  .logo__img-puck {
    padding: 0;
    margin-left: 1%;
  }
  .header__title {
    font-size: 60px;
  }
  .header__text {
    font-size: 25px;
  }
  .line {
    max-width: 600px;
    margin: 0px auto 10px;
  }
  .top__img {
    width: 100%;
  }
  .photo {
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .logo__img {
    width: 90%;
  }
  .logo__img-puck {
    margin-left: 8%;
  }
  .header__title {
    font-size: 40px;
  }
  .header__text {
    font-size: 20px;
  }
  .top__img {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: -30px;
  }
  .video-1__inner {
    margin-top: -10%;
  }
  iframe {
    height: 150px;
  }
  .photo {
    margin-bottom: 10px;
  }
  .slide__photo img {
    max-width: 100%;
    max-height: 250px;
    margin-bottom: 30px;
  }
}
@media (max-width: 450px) {
  .logo__img {
    width: 80%;
  }
  .logo__img-puck {
    margin-left: 2%;
  }
  .logo__img-puck svg {
    height: 20px;
    width: 20px;
  }
  .header__title {
    font-size: 40px;
  }
  .header__text {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .logo__img {
    width: 100%;
  }
  .logo__img-puck {
    left: 38%;
    top: 90%;
  }
  .header__text {
    padding-left: 10px;
  }
  .photo {
    margin-bottom: 70px;
  }
  .video__title {
    margin-top: 120px;
  }
  .line--photo {
    margin-bottom: 30px;
  }
}
@media (max-width: 375px) {
  .logo__img {
    width: 100%;
  }
  .logo__img-puck {
    left: 38%;
    top: 85%;
  }
  .header__text {
    padding-left: 20px;
  }
}
@media (max-width: 350px) {
  .logo__img {
    width: 100%;
  }
  .logo__img-puck {
    left: 37%;
    top: 81%;
  }
  .header__text {
    padding-left: 20px;
  }
}


